<!-- 
 Crea un component Pizzeria (contiene array di pizze)

 - Crea un component ListaPizze (lista con tutte le pizze, quando clicco le info vanno sul component pizza) (input array di pizze, output info pizza che va al parent pizzeria che va in input a Pizza)
 - Crea un component Pizza
 all'interno di questa pizzeria devo vedere una lista di pizze, al click su ogni singola pizza
 mostro gli ingredienti, il nome della pizza, il prezzo, la disponibilità
 -->

<app-pizzeria></app-pizzeria>

<router-outlet></router-outlet>
