<h3>Lista pizze</h3>
<div class="box">
    <ul>
        <li (click)="onSelectedPizza(pizze[0].id)" ><span class="gusto" > {{pizze[0].nome}}</span><span class="prezzo" >{{pizze[0].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[1].id)" ><span class="gusto" > {{pizze[1].nome}}</span><span class="prezzo" >{{pizze[1].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[2].id)" ><span class="gusto" > {{pizze[2].nome}}</span><span class="prezzo" >{{pizze[2].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[3].id)" ><span class="gusto" > {{pizze[3].nome}}</span><span class="prezzo" >{{pizze[3].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[4].id)" ><span class="gusto" > {{pizze[4].nome}}</span><span class="prezzo" >{{pizze[4].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[5].id)" ><span class="gusto" > {{pizze[5].nome}}</span><span class="prezzo" >{{pizze[5].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[6].id)" ><span class="gusto" > {{pizze[6].nome}}</span><span class="prezzo" >{{pizze[6].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[7].id)" ><span class="gusto" > {{pizze[7].nome}}</span><span class="prezzo" >{{pizze[7].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[8].id)" ><span class="gusto" > {{pizze[8].nome}}</span><span class="prezzo" >{{pizze[8].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[9].id)" ><span class="gusto" > {{pizze[9].nome}}</span><span class="prezzo" >{{pizze[9].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[10].id)" ><span class="gusto" > {{pizze[10].nome}}</span><span class="prezzo" >{{pizze[10].prezzo}} €</span></li>
        <li (click)="onSelectedPizza(pizze[11].id)" ><span class="gusto" > {{pizze[11].nome}}</span><span class="prezzo" >{{pizze[11].prezzo}} €</span></li>
    </ul>
</div>